<div class="movie-detail-container">
  <div class="iframe">
    <iframe width="100%" height="100%" [src]="url"></iframe>
  </div>
  <p class="title">{{movie.title}}</p>
  <p class="year">{{movie.year}}</p> 
  <p class="rating">{{movie.rating}} <span class="fa fa-star"></span></p>
  <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore amet enim laboriosam soluta qui corrupti doloremque illum asperiores consequuntur similique ad, ipsa accusamus autem deleniti quae sunt excepturi cupiditate. Cupiditate fugit aliquid accusantium architecto rerum, excepturi mollitia quasi nihil blanditiis repudiandae eligendi ipsum voluptates doloremque minima, deserunt dolore ad numquam.</p>
</div>
