<h1 *ngIf="isLoading">Loading...</h1>
<h1 *ngIf="err">{{errMessage}}</h1>
<div class="containr">
  <div class="movie" *ngFor="let movie of movielist">
    <a routerLink="/movies/{{movie.imdbID}}">
      <img [src]="movie.Poster" alt="sorry">
      <div class="details">
        <p class="title">{{movie.Title | shorten:10}}</p>
        <p class="year">{{movie.Year | shorten:4}}</p>
        <p class="stars">{{movie.rating }} <span class="fa fa-star"></span></p>
        
      </div>
    </a>
    <button (click) = "add(movie)" [disabled] = 'include(movie.imdbID)'>ADD</button>
  </div>
</div>

<hr>

<app-wishlist [favList] = "favList" (newItemEvent)="remove($event)"></app-wishlist>
