<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h3>Review</h3>
    </div>
    <div class="col-12 col-md-10 mt-4">
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label"> Title </label>
        <div class="col-md">
          <input [(ngModel)]="newMovie.title" type="text" class="form-control" placeholder="Enter Title" name="title"
            id="title">
        </div>
      </div>
      <div class="form-group row">
        <label for="year" class="col-md-2 col-form-label"> Year </label>
        <div class="col-md">
          <input [(ngModel)]="newMovie.year" type="text" class="form-control" placeholder="Enter Year" name="year"
            id="year">
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-md-2 col-form-label"> Image </label>
        <div class="col-md">
          <input [(ngModel)]="newMovie.image" type="text" class="form-control" placeholder="Enter Image URL"
            name="image" id="image">
        </div>
      </div>
      <div class="form-group row">
        <label for="link" class="col-md-2 col-form-label"> Link </label>
        <div class="col-md">
          <input [(ngModel)]="newMovie.link" type="text" class="form-control" placeholder="Enter Trailer link"
            name="link" id="link">
        </div>
      </div>
      <div class="form-group row">
        <label for="image" class="col-md-2 col-form-label"> Rating </label>
        <div class="col-md">
          <li>
            <input type="radio" name="rating" [(ngModel)]="newMovie.rating" value="1"> 1
          </li>
          <li>
            <input type="radio" name="rating" [(ngModel)]="newMovie.rating" value="2"> 2
          </li>
          <li>
            <input type="radio" name="rating" [(ngModel)]="newMovie.rating" value="3"> 3
          </li>
          <li>
            <input type="radio" name="rating" [(ngModel)]="newMovie.rating" value="4"> 4
          </li>
          <li>
            <input type="radio" name="rating" [(ngModel)]="newMovie.rating" value="5"> 5
          </li>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label"> Description </label>
        <div class="col-md">
          <input [(ngModel)]="newMovie.description" type="textarea" rows=2 class="form-control"
            placeholder="Enter Description" name="description" id="description">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-2 col-md-3">
          <button type="submit" class="btn btn-primary" (click)="addMovie()" routerLink='/movies'> Add to List</button>
        </div>
      </div>
    </div>
  </div>
</div>
